body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}



h1 {
    margin: 0;
}

#products-section {
    padding: 2rem;
    text-align: center;
}

#location-status {
    color: #888;
    margin-bottom: 1rem;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    background-color: white;
    height: 250px;
    width: 250px;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.product-item img {
    height: 250px;
    width: 250px;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

footer {
    position: relative;
    height: 5px;
    background-color: #333;
    color: white;
    text-align:center;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0; /* Remove default margin */
    line-height: 1; /* Adjust line height for vertical alignment */
}

footer a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
}
